<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" *ngIf="loggedIn()">Navbar</a>
    <a class="navbar-brand" routerLink="user-login" *ngIf="!loggedIn()"
      >Navbar</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="loggedIn()">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/"
            >Buy</a
          >
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <a
            class="nav-link"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="rent-property"
            >Rent</a
          >
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="add-property"
            >List Property(Free)</a
          >
        </li>
      </ul>
      <div>
        <ul class="nav navbar-nav">
          <li class="nav-item" *ngIf="!loggedIn()">
            <a class="nav-link" routerLink="user-register">Register</a>
          </li>
          <li class="nav-item" *ngIf="!loggedIn()">
            <a class="nav-link" routerLink="user-login">Login</a>
          </li>
          <!-- <li class="nav-item" *ngIf="loggedIn()">
            <a class="nav-link" (click)="loggedOut()" routerLink="user-login">Logout</a>
          </li> -->
          <div class="dropdown" *ngIf="loggedIn()">
            <select class="form-select" (change)="dropdownChanged($event)">
              <option value="" selected disabled>
                Welcome {{ loggedInUser }}
              </option>
              <option value="dashboard">View Dashboard</option>
              <option value="profile">My Profile</option>
              <option value="changePassword">Change Password</option>
              <option value="logout">Logout</option>
            </select>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
